.infoIcon {
  background: url(/images/icon-info.svg);
  width: 40px;
  height: 40px;
  display: inline-block;
  transform: scale(0.8);
  position: absolute;
  top: 8px;
  margin: 0 15px 0 0;
  right: 40px;
  border: 2px solid #000;
  border-radius: 50%;
}

.infoContent {
  background: white;
  border-radius: 50px;
  padding: 10px;
  width: 250px;
  position: absolute;
  top: -55px;
  right: 45px;
  border: 2px solid red;
  font-size: 12px;
}



@media (min-width: 768px) {

  .infoContent {
    top: 45px;
    right: 35px;
    font-size: 13px;
  }
}