@font-face {
  font-family: "VolvoNovumRegular";
  src: url(/fonts/VolvoNovumRegular2.otf);
}

@font-face {
  font-family: "VolvoNovumMedium";
  src: url(/fonts/VolvoNovumMedium.otf);
}

@font-face {
  font-family: "Volvo Novum-Bold";
  src: url(/fonts/VolvoNovum-Bold.otf);
}

@font-face {
  font-family: "VolvoBroad";
  src: url(/fonts/VolvoBroad.ttf);
}

@font-face {
  font-family: "VolvoBroadPro";
  src: url(/fonts/VolvoBroadPro.otf);
}

.font-regular {
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.font-medium {
  font-family: "Volvo Novum-Medium", sans-serif !important;
}

.font-broad {
  font-family: "VolvoBroad", sans-serif !important;
}

.font-pro {
  font-family: "VolvoBroadPro", sans-serif !important;
}

.font-bold {
  font-family: "Volvo Novum-Bold", sans-serif !important;
}

.greenPattern {
  background: url(/images/projectBG.jpg) repeat no-repeat center center / cover;
  height: 100vh;
}

.grayPattern {
  background: url(/images/projectBG.jpg) no-repeat center center / cover;
  height: 100vh;
  overflow: auto;
}

.navbar-collapse {
  background: #3f3f40;
  position: relative;
  right: 10px;
  top: 0px;
  width: 80%;
  position: fixed;
  left: 0px;
  z-index: 2;
}

.cstmHeight {
  background: #3f3f40;
  height: 100vh;
}

.nav-link {
  color: #c0c5dd !important;
  padding: 0 0 25px 12px !important;
  font-size: 15px !important;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.nav-link .aboutReverseIcon {
  background: url(/images/icon-reverse-project.svg);
  width: 30px;
  height: 29px;
  display: inline-block;
  transform: scale(0.8);
  position: relative;
  top: 8px;
  margin: 0 12px 0 0;
  left: 5px;
}

.nav-link .participateIcon {
  background: url(/images/icon-participate.svg);
  width: 29px;
  height: 29px;
  display: inline-block;
  transform: scale(0.8);
  position: relative;
  top: 8px;
  margin: 0 12px 0 0;
  left: 5px;
}

.nav-link .plantationIcon {
  background: url(/images/icon-plantation.svg);
  width: 27px;
  height: 25px;
  display: inline-block;
  transform: scale(0.8);
  position: relative;
  top: 7px;
  margin: 0 12px 0 0;
  left: 5px;
}

.nav-link .instaPostIcon {
  background: url(/images/icon-insta-post.svg);
  width: 28px;
  height: 28px;
  display: inline-block;
  transform: scale(0.8);
  position: relative;
  top: 8px;
  margin: 0 12px 0 0;
  left: 5px;
}

.nav-link .treeIcon {
  background: url(/images/icon-tree.svg) center no-repeat;
  width: 28px;
  height: 28px;
  display: inline-block;
  transform: scale(1);
  position: relative;
  top: 8px;
  margin: 0 12px 0 0;
  left: 5px;
  color: #fff;
}

.nav-link .homeIcon {
  background: url(/images/icon-house.svg) center no-repeat;
  width: 28px;
  height: 28px;
  display: inline-block;
  transform: scale(1);
  position: relative;
  top: 8px;
  margin: 0 12px 0 0;
  left: 5px;
  color: #fff;
}

.nav-link .dwnCertificateIcon {
  background: url(/images/icon-download-certificate.svg);
  width: 27px;
  height: 28px;
  display: inline-block;
  transform: scale(0.8);
  position: relative;
  top: 8px;
  margin: 0 12px 0 0;
  left: 5px;
}

.aboutReverseIcon.active,
.participateIcon.active,
.plantationIcon.active,
.instaPostIcon.active,
.dwnCertificateIcon.active,
.homeIcon.active,
.treeIcon.active {
  filter: invert(67%) sepia(64%) saturate(388%) hue-rotate(52deg)
    brightness(93%) contrast(85%);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.show {
  color: #7dc34f !important;
}

.navbar-nav {
  position: relative;
  top: 30px;
}

.menuText {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 21px;
  left: 20px;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.cstmWhiteBorder {
  border-top: 1px solid #7a7c83;
  clear: both;
  width: 90%;
  z-index: 1;
  position: relative;
}

.navbar-toggler {
  border: none !important;
  padding: 0px !important;
  border-radius: 0px !important;
  color: #fff !important;
  position: relative;
  z-index: 5;
  margin: 12px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.offcanvas-lg {
  background-color: none !important;
  max-width: 80% !important;
}

.offcanvas-backdrop.show {
  opacity: 0 !important;
}

/* .navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  left: 0;
  transition: left 250ms ease-in-out;
}

.collapse:not(.show) {
  left: -95%;
  transition: left 250ms ease-in-out;
} */

.navbar-toggler-icon {
  background-image: url(/images/threebar-menu.svg) !important;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  filter: invert(94%) sepia(0%) saturate(7475%) hue-rotate(79deg)
    brightness(112%) contrast(105%);
  background-size: contain;
  background-position: left;
}

.csmtPosition {
  position: relative;
  left: 3%;
  color: #fff !important;
  top: 8px;
}

.volvoLogoLanding {
  margin: 0 auto 0;
  display: block;
  padding: 15px 0 25px 0;
  width: 130px;
}

.volvoLogo {
  margin: 8px auto 10px;
  padding: 15px 0 10px 0;
  width: 130px;
  display: block;
  position: relative;
  right: 17px;
}

.theReverseProject {
  width: 85%;
  text-align: center;
  position: relative;
  z-index: 3;
}

.registerCTA {
  background: #7ea150;
  padding: 12px 35px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  font-family: "Volvo Novum-Bold", sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.volvoCar {
  width: 27%;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.volvoCarLandingPage {
  width: 30%;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

form input[type="text"],
input[type="number"],
input[type="password"] {
  background: rgb(255 255 255 / 18%); /* soft transparent */
  /* backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%); */
  width: 80%;
  border-radius: 10px;
  border: 0.2px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  text-align: left;
  text-transform: unset;
  padding: 15px;
  margin: 0px 0 7px 0;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

form input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  outline: none;
}

form input[type="file"] {
  display: none;
}

form .fileInput {
  background: #fff;
  width: 80%;
  border-radius: 30px;
  margin: 1px auto;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

form .fileInput label {
  color: #0b673b;
  font-size: 14px;
  text-align: left;
  padding: 15px;
  width: 100%;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

input::placeholder {
  color: white;
  opacity: 1;
}

form .uploadFileError {
  color: #fff;
  text-align: left;
  font-size: 12px;
  padding: 10px 0px 0 50px;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.submitCTA {
  background: #7ea150;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  font-family: "Volvo Novum-Bold", sans-serif;
  font-weight: bold;
  border: none;
}

.submitCTA:hover {
  background: #859f64;
}

.alreadyRegister {
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.cstmMrgn {
  position: fixed;
  bottom: 20px;
  z-index: 2;
}

.vehicleInput {
  width: 100% !important;
}

.thankYouImg {
  width: 65%;
  margin: 18px auto;
  display: block;
}

.submittedMsg {
  font-size: 14px;
  text-align: center;
  padding: 10px 0 20px 0;
  color: #fff;
  position: relative;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.submittedMsg strong {
  font-size: 16px;
  display: block;
  padding: 20px;
}

.submittedMsg::after {
  border-bottom: 5px solid #fff;
  content: " ";
  display: block;
  width: 17%;
  margin: 0 auto;
  border-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.downloadCrtficate {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.backArrow {
  background: url(/images/back-arrow.svg);
  width: 20px;
  height: 20px;
  transform: scale(1.2);
  padding: 12px;
  filter: invert(100%) sepia(52%) saturate(0%) hue-rotate(20deg)
    brightness(113%) contrast(101%);
  position: relative;
  top: 16px;
  left: 20px;
}

.instaPosts {
  width: 100%;
  text-align: center;
  color: white;
  padding: 12px;
  background: rgba(255, 255, 255, 0.12); /* soft transparent */
  background: rgba(255, 255, 255, 0.24);
  /* backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%); */
  border-radius: 18px;
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
}

.instaPosts img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.instaLink {
  text-decoration: none;
  color: #000;
}

.instaHeading {
  color: #fff;
  font-size: 32px;
  /* font-weight: bold; */
  font-family: "VolvoBroadPro", sans-serif !important;
}

.abtPlantationImg {
  background: rgba(255, 255, 255, 0.12); /* soft transparent */
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 12px;
}

.abtPlantationImg img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 12px;
}

.abtPltnWhiteBg {
  background: #fff;
  height: 160px;
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
}

.abtPltnWhiteBg2 {
  background: #fff;
  height: 70px;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
}

.abtPlntBodyText {
  font-family: "Volvo Novum-Regular", sans-serif !important;
  color: #fff;
  font-size: 15px;
  text-align: left;
  padding: 33px 0 0 0;
  line-height: 24px;
}

.abtPlntBodyText > a {
  color: #fff;
}

.howtoprtcptImg {
  width: 85px;
}

.howtoParticipateText {
  color: #0b6941;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
}

.abtPltnProjectWhiteBg {
  height: auto;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  position: absolute;
}

.abtPltnProjectWhiteBg p {
  color: #0b6739;
  font-size: 14px;
  padding: 15px 0 20px 0;
  margin: 70px 10px 15px 10px;
}

.accordion-button {
  background: #e0efcf !important;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Volvo Novum-Regular", sans-serif !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-flush > .accordion-item {
  margin: 15px 0 0 0;
}

.accordion-item {
  margin: 15px 0 0 0;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 0px !important;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border: 0px !important;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: 0px !important;
}

.accordion-item:last-of-type {
  margin-bottom: 200px;
}

.accordion-body {
  font-size: 13px;
  font-family: "Volvo Novum-Regular", sans-serif !important;
  line-height: 24px;
}

.whiteBg {
  background: #fff;
  padding: 15px 0 15px 0;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  left: 0px;
  right: 0px;
}

.homePageTab {
  margin: 0 auto;
  white-space: nowrap;
}

.cstmContainer {
  font-family: "VolvoNovumRegular", sans-serif !important;
}

.cstmContainer h3 {
  font-family: "VolvoBroadPro", sans-serif !important;
}

.cstmContainer h2 {
  font-family: "VolvoNovumRegular", sans-serif !important;
}
.cstmContainer h6 {
  font-family: "VolvoNovumRegular", sans-serif !important;
}

.cstmContainer h4 {
  font-family: "VolvoNovumRegular", sans-serif !important;
  font-size: 22px;
}

.cstmContainer b {
  font-family: "VolvoNovumRegular", sans-serif !important;
  font-size: 22px;
  font-weight: normal;
}

.cstmContainer li {
  font-family: "VolvoNovumRegular", sans-serif !important;
}

@media (min-width: 768px) {
  .homePageTab {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
  }

  .cstmContainerTopHeader {
    width: 100%;
    max-width: 1000px !important;
    margin: 0 auto;
  }

  .cstmContainer {
    width: 100%;
    max-width: 700px !important;
    margin: 0 auto;
  }

  .vehicleInput {
    width: 50% !important;
  }

  .navbar-collapse {
    background: none;
    position: static;
  }

  .nav-link {
    font-size: 16px !important;
    font-weight: bold;
    padding: 0 0 25px 25px !important;
  }

  .nav-link .aboutReverseIcon {
    margin: 0;
    transform: scale(0.7);
  }

  .csmtPosition {
    left: auto;
  }

  .cstmHeight {
    height: auto;
    background: none;
  }

  .navbar-nav {
    top: 30px;
    position: absolute;
    right: 0px;
  }

  .volvoLogoLanding {
    margin: 0 auto 30px;
    display: block;
    padding: 15px 0 25px 0;
    width: 160px;
  }

  .volvoLogo {
    margin: 14px auto 30px;
    display: block;
    padding: 15px 0 25px 0;
    width: 160px;
    float: left;
  }

  .theReverseProject {
    width: 40%;
  }

  .volvoCar {
    width: 10%;
    bottom: -38px;
  }

  .volvoCarLandingPage {
    width: 7.5%;
    bottom: 0px;
  }

  form input[type="text"],
  input[type="password"],
  input[type="number"] {
    margin: 0px 0 15px 0;
  }

  form .uploadFileError {
    padding: 10px 0px 0 50px;
  }

  .navbar-expand-lg .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cstmMrgn {
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .thankYouImg {
    width: 40%;
  }

  .submittedMsg {
    font-size: 16px;
  }

  .submittedMsg strong {
    font-size: 18px;
  }

  .downloadCrtficate {
    width: 30%;
  }

  .abtPlantationImg {
    width: 100%;
  }

  .abtPltnWhiteBg {
    left: 0;
    right: 0;
  }

  .abtPltnWhiteBg2 {
    height: 150px;
    top: 103px;
  }

  .abtPltnProjectWhiteBg p {
    color: #0b6739;
    font-size: 14px;
    margin: 70px 10px 20px 10px;
    line-height: 24px;
  }

  .howtoprtcptImg {
    width: 120px;
  }
}

@media (min-width: 1500px) {
  .cstmContainer {
    margin-top: 150px !important;
  }
}

/* Apple Glassmorphism Accordion */
.apple-glass-accordion .accordion-item {
  background: rgba(255, 255, 255, 0.12); /* soft transparent */
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 14px;
  overflow: hidden;
  transition: all 0.3s ease;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15), inset 0 0 0 0 rgba(255, 255, 255, 0.2); */
}

/* On open */
.apple-glass-accordion .accordion-item.active,
.apple-glass-accordion .accordion-item:has(.accordion-collapse.show) {
  border: 1px solid rgba(255, 255, 255, 0.35);
  /* box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3), inset 0 0 12px rgba(255, 255, 255, 0.35); */
}

/* Header styling */
.apple-glass-accordion .accordion-button {
  background: transparent !important;
  color: #ffffff;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 18px 20px;
  backdrop-filter: none;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease;
}

/* Remove default Bootstrap dark arrow */
.apple-glass-accordion .accordion-button::after {
  filter: invert(1); /* make white for glass theme */
  opacity: 0.9;
}

.apple-glass-accordion .accordion-button:not(.collapsed) {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white;
}

/* Body */
.apple-glass-accordion .accordion-body {
  color: #e8e8e8;
  padding: 20px;
  font-size: 0.96rem;
  line-height: 1.6;
}

/* Hover effects */
.apple-glass-accordion .accordion-button:hover {
  background: rgba(255, 255, 255, 0.14) !important;
}

.apple-glass-accordion .accordion-item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.apple-glass-accordion .accordion-item {
  backdrop-filter: unset !important;
  background-color: rgb(255 255 255 / 20%) !important;
  border-radius: 5px !important;
  font-family: "VolvoNovumRegular" !important;
}

.apple-glass-accordion .accordion-body {
  border: 1px solid !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: #00000057 !important;
  font-family: "VolvoNovumRegular" !important;
}

.accordion-item > .accordion-header .accordion-button {
  font-family: "VolvoNovumMedium" !important;
  font-size: 16px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: "VolvoNovumRegular" !important;
}

.overflow-auto {
  margin-bottom: 40px;
  overflow: auto;
  height: calc(100vh);
}
