.btnPledge {
  width: 250px;
  background: rgb(255 255 255 / 18%);
  border: none;
  color: white;
  font-size: 14px;
  height: 40px;
  text-transform: uppercase;
  line-height: 26px;
  cursor: pointer;
}
